@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.app {
    font: var(--font-m);
    background: var(--main-bg-color);
    color: var(--primary-color);
   // min-height: 100vh; // TODO В сторибуке, эта строчка ломает верстку
}

.contentPage {
    display: flex;
    padding: var(--content-page-padding);
    gap: 20px; // TODO
}

.pageWrapper {
    flex-grow: 1;
}