@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/red';

body{
    font-size: var(--font-size-m);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.app {
    background: var(--main-bg-color);
    min-height: 100vh; // TODO В сторибуке, эта строчка ломает верстку
}

.contentPage {
    display: flex;
    padding: var(--content-page-padding);
    gap: 20px; // TODO
}

.pageWrapper {
    position: relative;
    flex-grow: 1;
}

.row{
    width: 100%;
    display: flex;
    gap: 10px;
}

.pageTitleContainer{
    margin-bottom: 20px;
}

.box{
    position: relative;
    padding: 20px;
    border-radius: 4px;
    background: var(--additional-bg-color);
}


.animationHideText {
    width: 0;
    opacity: 0;
    margin: 0;
    animation: hide-text 0.3s;
}

@keyframes hide-text {
    0% {
        opacity: 1;
        width: 100%;
    }

    90% {
        opacity: 0;
    }

    100% {
        width: 0;
    }
}

.animationShowText {
    animation: show-text 0.3s;
}

@keyframes show-text {
    0% {
        opacity: 0;
        width:0;
    }

    20%{
        width: 100%;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}
