.container {
    position: relative;
}

.menu{
    position: absolute;
    min-width: 180px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background: var(--field-background-color);
    outline: 0;
    border-radius: 4px;
    z-index: var(--select-z-index);
    right: 0;

    & p, {
        color: var(--field-text-color);
    }
}



.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}



.option {
    padding: 10px;
    cursor: pointer;
}

.active {
    background-color: var(--hover-color);
}

