.articleDetails{
    margin-bottom: var(--block-margin);
}

.skeletonAvatar{
    margin: 0 auto;
}

.skeletonTitle{
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.infoBlock{
    display: flex;
    align-items: center;
}

.avatarWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}