.sidebar {
    position: relative;
    width: var(--sidebar-width);

    // * 2, так как padding сверху и снизу
    height: calc(100vh - var(--header-height) - calc(var(--content-page-padding) * 2));
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 20px;
    transition: width 0.5s;
    background: var(--additional-bg-color);
    border-radius: 8px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}