.app_dark_theme {
    --main-bg-color: #1f1e24;
    --inverted-main-bg-color: #fff;
    --additional-bg-color: #333238;
    --inverted-additional-bg-color: #e9e9e9;
    --detailed-bg-color: #4d4d4d;
    --auxiliary-color: #d6cece;
    --primary-color: #F0730F;
    --for-primary-color: #e2e2e2;
    --secondary-color: #2cd581;
    --text-color: #ececef;
    --placeholder-text-color: #8c8c8c;
    --link-color: #1f6bbd;
    --border-color: #bebbbb;
    --error-color: #ff1c1c
}
