.button{
    height: var(--height-field);
    border: 0;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
}

.clear{
    background: 0;
    border: 0;
    padding: 0;
}

.outline{
    background: 0;
    border: 1px solid var(--primary-color);
    color: var(--for-primary-color);
}

.primary{
    background: var(--primary-color);
    color: var(--for-primary-color);
}

.fullWidth{
    width: 100%;
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    & > svg{
        width:20px;
        height:20px;
    }
}

.disabled{
    opacity: 0.5;
    cursor: default;
}