.button{
    margin: 0;
    padding: 10px;
}

.clear{
    background: 0;
    border: 0;
    padding: 0;
}

.outline{
    background: 0;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}