.loaderContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--loader-z-index);

}

.withBackground{
    border-radius: 4px;
    background: rgb(121 121 121 / 50%);
}

.loaderSpinner{
    height: 60px;
    animation: loaderSpinner 0.7s linear infinite;
    fill: var(--primary-color);
}

@keyframes loaderSpinner {
    to {
        transform: rotate(360deg);
    }
}
