.personalData{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.personalDataContainer{
    width: 100%;
    max-width: 800px;
}

.personalDataFieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personalDataTitle{
    margin-bottom: 20px;
}

.nameContainer{
    display: flex;
    gap: 10px;
}