.appLink {
    display: flex;
    align-items: center;
    color: var(--link-color);
    text-decoration: none;
}

.primary {
    &:hover {
        color: var(--primary-color);
    }
}

.button{
    padding: 10px;
    border-radius:var(--small-border-radius);

    &:hover {
        background: var(--detailed-bg-color);
    }
}

.prefix{
    margin-right: 5px;

}

.postfix{
    margin-left: 5px;
}