.appLink {
    color: var(--link-color);
    text-decoration: none;

}

.primary {
    &:hover {
        color: var(--primary-color);
    }
}

.button{
    padding: 10px;
    border-radius:var(--small-border-radius);

    &:hover {
        background: var(--detailed-bg-color);
    }
}